*{
  margin: 0%;
  padding: 0%;
}

.nav{
  background-color: rgb(230, 114, 177);
  display: flex;
  justify-content: space-between;
  color: aliceblue;
  padding: 25px 100px;
  align-items: center;
}
.nav ul{
  display: flex;
  list-style: none;

}
ul li {
  margin: 10px;
}
/* jumbotron styles */
.jumbotron{
  background-color: rgb(37, 37, 19);
  height: 60vh;
  color: aliceblue;

}
.jumbotron img{
  height: 30%;
  width: auto;
  margin: 10px;
}
.jumbotron buttom {
  padding: 15px 10px;
  background-color: rgb(236, 220, 71);
  border-radius: 10px;
  font-size: 20px;
  margin: 20px;
  border: none;
}
/* details styles */
.details{
  display: grid;
  grid-template-columns:2fr 1fr;
  justify-content: center;
  padding: 30px 100px;

}
.details div {
  border: 1px solid chartreuse;
  display: flex;
  align-items: center;
  margin-right: 20px;
  box-shadow: 0px 5px 7px 6px coral;
}
/* footer styles */
footer{
  background-color: rgb(102, 9, 28);
  display: flex;
  padding: 40px 100px;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}
form input,buttom{
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
}
form button{
  background-color: blue;
  margin-left: 20px;
}

